:root {
  --red: #cd3131;
  --nav-height: 150px;
  --nav-link-padding: 10px;
  --nav-link-font-size: 0.8rem;
  --transition-duration: 0.3s;
  --textColor: #555;
  --backColor: #fdece8;
  --grey: #212529;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.back-to-top {
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 9999;
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: slide 1.5s ease-in-out;
}

.contact-rotated {
  position: absolute;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding-bottom: 20px;
  color: white;
  width: 150px;
  height: 70px;
  top: 175px;
  left: -65px;
  transform: rotate(90deg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@keyframes slide {
  0% {
    bottom: calc(100vh -20px);
    opacity: 0;
  }
  100% {
    bottom: 20px;
    opacity: 1;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);

  padding: 30px;
}

.search {
  background-color: var(--red);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration);
}

.button {
  background-color: var(--red);
  height: 40px;
  width: 120px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: small;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.dish-grid-h2 {
  font-size: xx-large;
}

.dish-grid-h2::first-letter {
  color: var(--red);
}

.button::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--grey);
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform var(--transition-duration);
  z-index: -1;
  border-radius: 70px;
}

.button:hover::before {
  transform: scaleX(1);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-title {
  font-size: 22px;
  color: var(--grey);
  padding: var(--nav-link-padding);
}

.nav-links {
  display: flex;
  align-items: center;

  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--grey);
  font-size: var(--nav-link-font-size);
  padding: var(--nav-link-padding);
  transition: background-color var(--transition-duration);
  font-weight: bold;
}

.nav-links a:hover {
  background-color: var(--backColor);
  border-radius: 30px;
}

.nav-toggle-label {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}

@media (max-width: 900px) {
  .nav {
    align-items: center;
  }
  .nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: none;
  }

  .nav-links a {
    width: 100%;
    text-align: center;
  }
}

.polygon {
  position: absolute;
  top: 25%;
  right: 20%;
  z-index: -1;
  width: 100px;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-section {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.content-left {
  flex: 1;
  width: calc(60% - 20px);
  padding: 0 10px;
}

.collage {
  max-width: 100%;
  height: auto;
}

.content-left h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.content-left p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--textColor);
  font-weight: bold;
  max-width: fit-content;
}

.content-right {
  max-width: calc(50% - 20px); /* 50% width minus padding */
  padding: 0 10px;
  margin-top: 20px;
}

@media (max-width: 982px) {
  .content-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-left,
  .content-right {
    max-width: 100%;
    min-width: 60%;
  }

  .content-left,
  .content-right {
    padding: 0;
  }

  .content-right {
    margin-top: 0;
  }
  .buttons {
    flex-direction: column;
    gap: 10px;
  }
}

.dish-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: white;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: auto;
}

.card footer {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #f8f8f8;
}

.card-footer {
  text-align: center;
  font-weight: bold;
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-footer .price {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--red);
}

@media (max-width: 1000px) {
  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .card-section {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .card {
    width: 100%;
  }
}

.player-section {
  width: 100%;
  height: auto;
  background-color: var(--backColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.player-button {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.player-button::before {
  content: "";
  height: 100px;
  width: 100px;
  background-color: var(--backColor);
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.player-icon {
  width: 30px;
  height: 30px;
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 20px;
  padding: 10px;
  width: 60%;
  height: 50vh;
}

.data-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
}

.card-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 8;
}

.card-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
}

@media (max-width: 968px) {
  .player-section {
    width: 100%;
    height: auto;
    background-color: var(--backColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .player {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
  }

  .data-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 500px) {
  .data-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .data-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.form-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--backColor);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  position: relative;
}
.form-container form {
  display: grid;
  gap: 20px;
  z-index: 1;
}
.form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.form-container p {
  color: var(--red);
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}

.form-container h1 {
  color: var(--textColor);
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.form-container h1::first-letter {
  color: var(--red);
}

.form-container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  background-image: url(/Squigle.png);
  background-position: center;
  background-repeat: repeat-y;
  height: 100%;
  z-index: 1000;
}

.form-container::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  background-image: url(/Squigle2.png);
  background-position: center;
  background-repeat: repeat-y;
  height: 100%;
  z-index: 1000;
}

@media (min-width: 700px) {
  .form-container {
    width: 900px;
  }
  .form-container form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .form-container {
    width: 900px;
  }
  .form-container form {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer {
  width: 100%;
  height: 51px;
  color: white;
}

.footer-main {
  text-align: center;
  background-color: var(--red);
  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
  padding-top: 7px;
}

.footer-squigles {
  left: 0;
  right: 0;
  background-image: url(/Squigle3.png);
  background-position: center;
  background-repeat: repeat-x;
  height: 8px;
  margin: 0;
}

.bottom-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--backColor);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
}

.about-catering,
.special-facilities,
.contact-us {
  background-color: var(--backColor);
  width: 30%;
  height: auto;
  margin: 0;
}

.contact-us {
  margin-left: 30px;
  margin-bottom: 30px;
}

.bottom-info-h2 {
  color: var(--red);
  text-decoration: underline;
}

.links {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0;
}
.list li {
  position: relative;
  padding-left: 30px; /* Adjust for image size */
  margin: 5px 0;
}
.list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 30px;
  background-image: url("/Arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.image-grid-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.image-grid-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.image-grid-buttons button {
  color: var(--red);
  border: 2px solid var(--red);
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.image-grid-buttons button:hover,
.image-grid-buttons button:focus {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: var(--red);
  color: white;
}

.image-grid-h1 {
  color: var(--grey);
  font-size: xx-large;
}

.image-grid-h1::first-letter {
  color: var(--red);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center;
  align-items: center;
  height: auto;
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  min-height: 300px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border: 10px;
  overflow: hidden;
  max-width: 400px;
  border-radius: 20px;
  overflow: hidden;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.image-wrapper:hover::before {
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

.chef-card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.chef-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  margin: 10px;
  max-width: 300px;
}

.chef-card-text {
  width: 90%;
  height: auto;
  color: white;
  background-color: var(--red);
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 1200px) {
  .chef-card-4 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .chef-card-3 {
    display: none;
  }
  .chef-card-4 {
    display: none;
  }
}

@media (max-width: 600px) {
  .chef-card-2 {
    display: none;
  }
  .chef-card-3 {
    display: none;
  }
  .chef-card-4 {
    display: none;
  }
}

.chef-card-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.chef-card-section-button {
  background-color: var(--red);
  outline: none;
  border: none;
  width: 25px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
}
